.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-card{
    max-width: 400px;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.register-caption{
    font-size: 24px;
    margin-bottom: 10px;
}

.form-input{
    margin-bottom: 7px;
}

.register-button{
    width: 100%;
}

@media ( max-width : 600px ){
    .register-card{
        max-width: 300px;
    }
}
