        <div class="introduction">
            <div>
                <h2 style="text-align: center;"> Who are we ? </h2>
            </div>
            <div>
                <h4> We are founders of stack overflow </h4>
            </div>
        </div>   
<div class="about-us">
        <div class="person1">
            <div class="person1-image">
                <img [src]="getImagePath(0)" alt="Yash">
            </div>
            <div class="person1-content">
                <h1 style="color:crimson"> Yash Vataliya </h1>
				<p><a href="https://www.linkedin.com/in/yash-vataliya-4953aa227" target="_blank"><i class="fa-brands fa-linkedin" style="color: blue"></i></a>
                    <a href="https://www.github.com/yashgit56" target="_blank"><i class="fa-brands fa-github" style="color: black"></i></a>
                    <a href="https://www.instagram.com/yash__0419" target="_blank"><i class="fa-brands fa-square-instagram" style="color: rgb(236, 5, 244)"></i></a>
                    <a href="https://mail:yashvataliya65@gmail.com" target="_blank"><i class="fas fa-envelope email-icon" style="color: red"></i></a>
                </p>
                <h3><i class="fas fa-map-marker-alt location-icon"></i>Bareja,Ahemdabad 382425 </h3>
            </div>
        </div>
        <div class="person2">
            <div class="person2-image">
                <img [src]="getImagePath(1)" alt="Fenil">
            </div>
            <div class="person2-content">
                <h1 style="color:crimson"> Fenil Modi </h1>
				<p><a href="https://www.linkedin.com/in/pritesh-umraniya-802a2b23a" target="_blank"><i class="fa-brands fa-linkedin" style="color: blue"></i></a>
                    <a href="https://www.github.com/pritesh2564u" target="_blank"><i class="fa-brands fa-github" style="color: black"></i></a>
                    <a href="https://www.instagram.com/pritesh_2564u" target="_blank"><i class="fa-brands fa-square-instagram" style="color: rgb(236, 5, 244)"></i></a>
                    <a href="https://mailto:priteshumraniya2564@gmail.com" target="_blank"><i class="fas fa-envelope email-icon" style="color: red"></i></a>
                </p>    
                <h3><i class="fas fa-map-marker-alt"></i> Ahemdabad </h3>    
            </div>
        </div>
        <div class="person2">
            <div class="person2-image">
                <img [src]="getImagePath(2)" alt="Jay">
            </div>
            <div class="person3-content">
                <h1 style="color:crimson"> Jay Chavda </h1>
				<p><a href="https://www.linkedin.com/in/jay-chavda-2352ba258/>" target="_blank"><i class="fa-brands fa-linkedin" style="color: blue"></i></a>
                    <a href="https://github.com/jkchavda8" target="_blank"><i class="fa-brands fa-github" style="color: black"></i></a>
                    <a href="https://www.instagram.com/jaychavda678/>" target="_blank"><i class="fa-brands fa-square-instagram" style="color: rgb(236, 5, 244)"></i></a>
                    <a href="https://mailto:jay886888@gmail.com" target="_blank"><i class="fas fa-envelope email-icon" style="color: red"></i></a>
                </p>    
                <h3><i class="fas fa-map-marker-alt"></i> Bhuj, Kutch 370020 </h3>    
            </div>
        </div>
    </div>